$utilities: (
  "width": (
    property: width,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
      32px: 32px,
      45px: 45px,
      220px:220px
    ),
  ),
  "height":
  (
    property: height,
    class: h,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
      32px: 32px,
      45px: 45px,
      220px:220px
    ),
  ),
);
