/* make the customizations */
// $theme-colors: (
//   // "info": tomato,
//   // "danger": teal
// );009ef7

$primary: #009ef7;
// https://www.5axxw.com/questions/content/r4s3xh
.btn-primary {
  color: #fff !important;    
} 
$body-bg: #f5f8fa;

$border-radius: 0.12rem;

// Fonts
$font-size-base: 0.875rem;

